<% if @discogs.authenticated? %>
  <ul>
    <li><a href="/discogs_wrapper/try">Petit test</a></li>
    <h2> <%= @lol %></h2>
  </ul>
<% else %>
  <a href="/discogs_wrapper/authenticate">Authenticate Discogs.com account</a>
<% end %>